<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    
    <!--jQuery(necessary for Bootstrap's JavaScript plugins)-->

    <script src="~/Scripts/jquery-1.11.0.min.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" media="all" />
    <!--Custom-Theme-files-->
    <!--theme-style-->
    <link href="~/Content/style.css" rel="stylesheet" media="all" />
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Luxury Watches Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--start-menu-->
    <script src="~/Scripts/simpleCart.min.js"></script>

    <link href="~/Content/memenu.css" rel="stylesheet" media="all" />

    <script src="~/Scripts/memenu.js"></script>
    <script>$(document).ready(function(){$(".memenu").memenu();});</script>
    <!--dropdown-->
    <script src="~/Scripts/jquery.easydropdown.js"></script>		
    <script src="~/Scripts/responsiveslides.min.js"></script>

</head>
<body>
    <!--top-header-->
    <div class="top-header">
        <div class="container">
            <div class="top-header-main">
                <div class="col-md-6 top-header-left">

                    @Html.Partial("_LoginPartial")

                </div>
                <div class="col-md-6 top-header-left">
                    <div class="cart box_1">
                        <a href="checkout.html">
                            <div class="total">
                                <span class="simpleCart_total"></span>
                            </div>
                            <img src="~/Content/images/cart-1.png" />

                        </a>
                        <p><a href="javascript:;" class="simpleCart_empty">Empty Cart</a></p>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!--top-header-->
    <!--start-logo-->
    <div class="logo">
        <a href="@Url.Action("Index", "Home")"><h1>Luxury Watches</h1></a>
    </div>
    <!--start-logo-->
    <!--bottom-header-->
    <div class="header-bottom">
        <div class="container">
            <div class="header">
                <div class="col-md-9 header-left">
                    <div class="top-nav">
                        <ul class="memenu skyblue">
                            <li class="active"><a href="@Url.Action("Index", "Home")">Home</a></li>
                            <li class="grid">
                                <a href="#">Men</a>
                                <div class="mepanel">
                                    <div class="row">
                                        <div class="col1 me-one">
                                            <h4>Shop</h4>
                                            <ul>
                                                <li><a href="@Url.Action("Products", "Home")">New Arrivals</a></li>
                                                <li><a href="@Url.Action("Products", "Home")">Blazers</a></li>
                                                <li><a href="@Url.Action("Products", "Home")">Swem Wear</a></li>
                                                <li><a href="@Url.Action("Products", "Home")">Accessories</a></li>
                                                <li><a href="@Url.Action("Products", "Home")">Handbags</a></li>
                                                <li><a href="@Url.Action("Products", "Home")">T-Shirts</a></li>
                                                <li><a href="@Url.Action("Products", "Home")">Watches</a></li>
                                                <li><a href="@Url.Action("Products", "Home")">My Shopping Bag</a></li>
                                            </ul>
                                        </div>
                                        <div class="col1 me-one">
                                            <h4>Style Zone</h4>
                                            <ul>
                                                <li><a href="@Url.Action("Products", "Home")">Shoes</a></li>
                                                <li><a href="@Url.Action("Products", "Home")">Watches</a></li>
                                                <li><a href="@Url.Action("Products", "Home")">Brands</a></li>
                                                <li><a href="@Url.Action("Products", "Home")">Coats</a></li>
                                                <li><a href="@Url.Action("Products", "Home")">Accessories</a></li>
                                                <li><a href="@Url.Action("Products", "Home")">Trousers</a></li>
                                            </ul>
                                        </div>
                                        <div class="col1 me-one">
                                            <h4>Popular Brands</h4>
                                            <ul>
                                                <li><a href="@Url.Action("Products", "Home")">499 Store</a></li>
                                                <li><a href="@Url.Action("Products", "Home")">Fastrack</a></li>
                                                <li><a href="@Url.Action("Products", "Home")">Casio</a></li>
                                                <li><a href="@Url.Action("Products", "Home")">Fossil</a></li>
                                                <li><a href="@Url.Action("Products", "Home")">Maxima</a></li>
                                                <li><a href="@Url.Action("Products", "Home")">Timex</a></li>
                                                <li><a href="@Url.Action("Products", "Home")">TomTom</a></li>
                                                <li><a href="@Url.Action("Products", "Home")">Titan</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="grid">
                                <a href="#">Women</a>
                                <div class="mepanel">
                                    <div class="row">
                                        <div class="col1 me-one">
                                            <h4>Shop</h4>
                                            <ul>
                                                <li><a href="@Url.Action("Products", "Home")">New Arrivals</a></li>
                                                <li><a href="@Url.Action("Products", "Home")">Blazers</a></li>
                                                <li><a href="@Url.Action("Products", "Home")">Swem Wear</a></li>
                                                <li><a href="@Url.Action("Products", "Home")">Accessories</a></li>
                                                <li><a href="@Url.Action("Products", "Home")">Handbags</a></li>
                                                <li><a href="@Url.Action("Products", "Home")">T-Shirts</a></li>
                                                <li><a href="@Url.Action("Products", "Home")">Watches</a></li>
                                                <li><a href="@Url.Action("Products", "Home")">My Shopping Bag</a></li>
                                            </ul>
                                        </div>
                                        <div class="col1 me-one">
                                            <h4>Style Zone</h4>
                                            <ul>
                                                <li><a href="@Url.Action("Products", "Home")">Shoes</a></li>
                                                <li><a href="@Url.Action("Products", "Home")">Watches</a></li>
                                                <li><a href="@Url.Action("Products", "Home")">Brands</a></li>
                                                <li><a href="@Url.Action("Products", "Home")">Coats</a></li>
                                                <li><a href="@Url.Action("Products", "Home")">Accessories</a></li>
                                                <li><a href="@Url.Action("Products", "Home")">Trousers</a></li>
                                            </ul>
                                        </div>
                                        <div class="col1 me-one">
                                            <h4>Popular Brands</h4>
                                            <ul>
                                                <li><a href="@Url.Action("Products", "Home")">499 Store</a></li>
                                                <li><a href="@Url.Action("Products", "Home")">Fastrack</a></li>
                                                <li><a href="@Url.Action("Products", "Home")">Casio</a></li>
                                                <li><a href="@Url.Action("Products", "Home")">Fossil</a></li>
                                                <li><a href="@Url.Action("Products", "Home")">Maxima</a></li>
                                                <li><a href="@Url.Action("Products", "Home")">Timex</a></li>
                                                <li><a href="@Url.Action("Products", "Home")">TomTom</a></li>
                                                <li><a href="@Url.Action("Products", "Home")">Titan</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="grid">
                                <a href="#">Kids</a>
                                <div class="mepanel">
                                    <div class="row">
                                        <div class="col1 me-one">
                                            <h4>Shop</h4>
                                            <ul>
                                                <li><a href="@Url.Action("Products", "Home")">New Arrivals</a></li>
                                                <li><a href="@Url.Action("Products", "Home")">Blazers</a></li>
                                                <li><a href="@Url.Action("Products", "Home")">Swem Wear</a></li>
                                                <li><a href="@Url.Action("Products", "Home")">Accessories</a></li>
                                                <li><a href="@Url.Action("Products", "Home")">Handbags</a></li>
                                                <li><a href="@Url.Action("Products", "Home")">T-Shirts</a></li>
                                                <li><a href="@Url.Action("Products", "Home")">Watches</a></li>
                                                <li><a href="@Url.Action("Products", "Home")">My Shopping Bag</a></li>
                                            </ul>
                                        </div>
                                        <div class="col1 me-one">
                                            <h4>Style Zone</h4>
                                            <ul>
                                                <li><a href="@Url.Action("Products", "Home")">Shoes</a></li>
                                                <li><a href="@Url.Action("Products", "Home")">Watches</a></li>
                                                <li><a href="@Url.Action("Products", "Home")">Brands</a></li>
                                                <li><a href="@Url.Action("Products", "Home")">Coats</a></li>
                                                <li><a href="@Url.Action("Products", "Home")">Accessories</a></li>
                                                <li><a href="@Url.Action("Products", "Home")">Trousers</a></li>
                                            </ul>
                                        </div>
                                        <div class="col1 me-one">
                                            <h4>Popular Brands</h4>
                                            <ul>
                                                <li><a href="@Url.Action("Products", "Home")">499 Store</a></li>
                                                <li><a href="@Url.Action("Products", "Home")">Fastrack</a></li>
                                                <li><a href="@Url.Action("Products", "Home")">Casio</a></li>
                                                <li><a href="@Url.Action("Products", "Home")">Fossil</a></li>
                                                <li><a href="@Url.Action("Products", "Home")">Maxima</a></li>
                                                <li><a href="@Url.Action("Products", "Home")">Timex</a></li>
                                                <li><a href="@Url.Action("Products", "Home")">TomTom</a></li>
                                                <li><a href="@Url.Action("Products", "Home")">Titan</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="grid">
                                <a href="typo.html">Blog</a>
                            </li>
                            <li class="grid">
                                <a href="@Url.Action("Contact", "Home")">Contact</a>
                            </li>
                        </ul>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="col-md-3 header-right">
                    <div class="search-bar">
                        <input type="text" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}">
                        <input type="submit" value="">
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!--bottom-header-->
    
    <div class="container body-content">
        @RenderBody()
        <hr />

    </div>
    <!--information-starts-->
    <div class="information">
        <div class="container">
            <div class="infor-top">
                <div class="col-md-3 infor-left">
                    <h3>Follow Us</h3>
                    <ul>
                        <li><a href="#"><span class="fb"></span><h6>Facebook</h6></a></li>
                        <li><a href="#"><span class="twit"></span><h6>Twitter</h6></a></li>
                        <li><a href="#"><span class="google"></span><h6>Google+</h6></a></li>
                    </ul>
                </div>
                <div class="col-md-3 infor-left">
                    <h3>Information</h3>
                    <ul>
                        <li><a href="#"><p>Specials</p></a></li>
                        <li><a href="#"><p>New Products</p></a></li>
                        <li><a href="#"><p>Our Stores</p></a></li>
                        <li><a href="@Url.Action("Contact", "Home")"><p>Contact Us</p></a></li>
                        <li><a href="#"><p>Top Sellers</p></a></li>
                    </ul>
                </div>
                <div class="col-md-3 infor-left">
                    <h3>My Account</h3>
                    <ul>
                        <li><a href="@Url.Action("Account")"><p>My Account</p></a></li>
                        <li><a href="#"><p>My Credit slips</p></a></li>
                        <li><a href="#"><p>My Merchandise returns</p></a></li>
                        <li><a href="#"><p>My Personal info</p></a></li>
                        <li><a href="#"><p>My Addresses</p></a></li>
                    </ul>
                </div>
                <div class="col-md-3 infor-left">
                    <h3>Store Information</h3>
                    <h4>
                        The company name,
                        <span>Lorem ipsum dolor,</span>
                        Glasglow Dr 40 Fe 72.
                    </h4>
                    <h5>+955 123 4567</h5>
                    <p><a href="mailto:example@email.com">contact@example.com</a></p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!--information-end-->	
    <!--footer-starts-->
	<div class="footer">
		<div class="container">
			<div class="footer-top">
				<div class="col-md-6 footer-left">
					<form>
						<input type="text" value="Enter Your Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter Your Email';}">
						<input type="submit" value="Subscribe">
					</form>
				</div>
				<div class="col-md-6 footer-right">					
					<p>© 2015 Luxury Watches. All Rights Reserved | Design by  <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!--footer-end-->	
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap", "~/Scripts/jquery.easydropdown.js", "~/Scripts/memenu.js", "~/Scripts/simpleCart.min.js")
    @RenderSection("scripts", required: false)

</body>
</html>
