@model IEnumerable<ShoppingApp.Models.Item>

@{
    ViewBag.Title = "Index";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<p>
    @if (User.IsInRole("Admin"))
    {
        @Html.ActionLink("Create New", "Create")
    }
</p>

<div class="container">

    @foreach (var item in Model)
    {
        <div class="row">
            <div class="col-md-1">@Html.DisplayFor(modelItem => item.Name)</div>
            <div class="col-md-1">@Html.DisplayFor(modelItem => item.Price)</div>
            <div class="col-md-1"><img src="@Url.Content(item.MediaUrl)" /></div>
            <div class="col-md-3">@Html.Raw(item.Description)</div>
            <div class="col-md-2">@Html.DisplayFor(modelItem => item.Created)</div>
            <div class="col-md-2">@Html.DisplayFor(modelItem => item.Updated)</div>
            <div class="col-md-2">
                    @if (User.IsInRole("Admin"))
                    {
                        <p><text>@Html.ActionLink("Edit", "Edit", new { id = item.Id })</text></p>
                    }

                        <p>@Html.ActionLink("Details", "Details", new { id = item.Id })</p>

                    @if (User.IsInRole("Admin"))
                    {
                        <p><text>@Html.ActionLink("Delete", "Delete", new { id = item.Id })</text></p>
                    }

                    <p>@Html.ActionLink("Add to Cart", "AddToCart", "ShoppingCarts", new { id = item.Id }, "")</p>
            </div>
        </div>
    }
</div>
